.flash-box
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        kaz
      %ul.user-menu
        %li.user-menu__edit-user
          =link_to new_group_path do
            %i.fa.fa-edit
        %li.user-menu__new-group 
          =link_to "/users/1/edit" do
            %i.fa.fa-cog 
    .groups
      = link_to "/users/1/edit" do 
        .group
          %p.group__group-name
            11
          %p.group__latest-message
            aaaa

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          11
        %ul.member-list
          Member：
          %li.member-list__member
            kaz
      = link_to "/users/1/edit" do
        .main-header__edit-btn
          Edit
    .messages
      .message
        .upper-info
          %p.upper-info__user
            kaz
          %p.upper-info__date
            2019/04/24(Wed) 00:09:34
        %p.message__text
          aaaa

    .form
      %form.new-message#new_message{action: "/users/1/edit", method: "post"}
        .input-box
          %input.input-box__text#message_content{:placeholder=>"type a message", :type=>"text", :name=>"message[content]"}
            %label.image-label
              = fa_icon 'picture-o', class: 'icon'        
              %input.hidden{type: "file"}
        %input.new-message__submit-btn{type: "submit", value: "Send"}